---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import { type Recipe } from "src/types";
import RecipeHead from "@components/RecipeHead.svelte";
import RecipeBody from "@components/RecipeBody.svelte";

export async function getStaticPaths() {
    const recipes = await getCollection("recipes");
    return recipes.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const recipe = {
    slug: entry.slug,
    text: entry.body,
    data: entry.data,
} as Recipe;
---

<Layout title={entry.data.title}>
    <RecipeHead client:load data={recipe}/>
    <RecipeBody client:load>
        <Content />
    </RecipeBody>
    <div id="recipe-page-end-slot"></div>
</Layout>
